print("Created by .Zeyad mohamed fathi ali☻♥.")
while True:
 physics=int(input("7ot drgt el physics ya a5oya.."))
 python=int(input("7ot drgt el python ya a5oya.."))
 mathe=int(input("7ot drgt el mathe ya a5oya.."))
 it=int(input("7ot drgt el IT ya a5oya.."))
 english=int(input("7ot drgt el english ya a5oya.."))
 cyber=int(input("7ot drgt el cyber ya a5oya.."))
 ph=(physics/30*100)
 print("__________________________________________",end='\n\n')
 if ph >=90:
    print("Physics",ph,"% Excellant",end='\n\n')
 elif ph>=75:
    print("Physics",ph,"% Very Good",end='\n\n')
 elif ph >=60:
    print("Physics",ph,"% Good",end='\n\n')
 elif ph >=50:
    print("Physics",ph,"% Passed",end='\n\n')
 else:
    print("Physics",ph,"% Faild",end='\n\n')
 py=(python/30*100)
 if py >=90:
    print("Python",py,"% Excellant",end='\n\n')
 elif py>=75:
    print("Python",py,"% Very Good",end='\n\n')
 elif py >=60:
    print("Python",py,"% Good",end='\n\n')
 elif py >=50:
    print("Python",py,"% Passed",end='\n\n')
 else:
    print("Python",py,"% Faild",end='\n\n')
 m=(mathe/30*100)
 if m>=90:
    print("Mathe",m,"% Excellant",end='\n\n')
 elif m>=75:
    print("Mathe",m,"% Very Good",end='\n\n')
 elif m >=60:
    print("Mathe",m,"% Good",end='\n\n')
 elif m >=50:
    print("Mathe",m,"% Passed",end='\n\n')
 else:
    print("Mathe",m,"%Faild",end='\n\n')
 i=(it/30*100)
 if i >=90:
    print("IT",i,"% Excellant",end='\n\n')
 elif i>=75:
    print("IT",i,"% Very Good",end='\n\n')
 elif i >=60:
    print("IT",i,"% Good",end='\n\n')
 elif i >=50:
    print("IT",i,"% Passed",end='\n\n')
 else:
    print("IT",i,"% Faild",end='\n\n')
 e=(english/30*100)
 if e >=90:
    print("English",e,"% Excellant",end='\n\n')
 elif e>=75:
    print("English",e,"% Very Good",end='\n\n')
 elif e >=60:
    print("English",e,"% Good",end='\n\n')
 elif e >=50:
    print("English",e,"% Passed",end='\n\n')
 else:
    print("English",e,"% Faild",end='\n\n')
 c=(cyber/10*100)
 if c >=90:
    print("Cyber",c,"% Excellant",end='\n\n')
 elif c>=75:
    print("Cyber",c,"% Very Good",end='\n\n')
 elif c >=60:
    print("Cyber",c,"% Good",end='\n\n')
 elif c >=50:
    print("Cyber",c,"% Passed",end='\n\n')
 else:
    print("Cyber",c,"% Faild",end='\n\n')
 t=(physics+python+mathe+it+english+cyber)/160*100
 if t >=90:
    print("Total",t,"% Excellant",end='\n\n')
 elif t>=75:
    print("Total",t,"% Very Good",end='\n\n')
 elif t >=60:
    print("Total",t,"% Good",end='\n\n')
 elif t >=50:
    print("Total",t,"% Passed",end='\n\n')
 else:
    print("Total",t,"% Faild",end='\n\n')
 repeat=input("Do you want to try again(yes or no): ")
 if repeat=="no":
        break
print("end")
